<%= form_for(@item_request) do |f| %>
  <% if @item_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_request.errors.count, "error") %> prohibited this item_request from being saved:</h2>

      <ul>
      <% @item_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :itemName %><br>
    <%= f.text_field :itemName %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <!--
  <div class="field">
    <%= f.label :isApproved %><br>
    <%= f.check_box :isApproved %>
  </div>
  <div class="field">
    <%= f.label :approvedBy %><br>
    <%= f.number_field :approvedBy %>
  </div>
  <div class="field">
    <%= f.label :approvedOn %><br>
    <%= f.datetime_select :approvedOn %>
  </div>
  -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
