<h1>Listing item_requests</h1>

<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Reason</th>
      <th>Price</th>
      <th>Is Approved</th>
      <!--<th>Approved By</th>-->
      <th>Approved On</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_requests.each do |item_request| %>
      <tr>
        <td><%= item_request.itemName %></td>
        <td><%= item_request.reason %></td>
        <td><%= number_with_precision(item_request.price, :precision => 2) %></td>
        <td><%= item_request.isApproved %></td>
        <!--<td><%= item_request.approvedBy %></td>-->
        <td><%= item_request.approved_on_format  %></td>
        <td><%= link_to 'Show', item_request %></td>
        <td><%= link_to 'Edit', edit_item_request_path(item_request) %></td>
        <td><%= link_to 'Destroy', item_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if current_user.email == 'jjk.plannr.com@gmail.com' %>
            <td><%= link_to 'Approve', approve_path(:id => item_request.id) %></td>
            <td><%= link_to 'Decline', decline_path(:id => item_request.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item request', new_item_request_path %>
