<!DOCTYPE html>
<html>
<head>
  <title>ItemRequestApp2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>

  </style>
</head>
<body>
<div>
  <div class="flashMessages">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
 <%= render partial: '/shared/menu' %>
</div>
<div class="main">
  <%= yield %>
</div>
</body>
</html>
